DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

DATABASE_URL="mysql://<db_user>:<password>@127.0.0.1:3306/<db_name>"

JWT_SECRET=3VWUq8NjlJHnGry40J6JNYgLl9qmWHMW9rm8j23fLRq
JWT_EXPIRES_IN=7d

KAKAO_USER_INFO_URL=https://kapi.kakao.com/v2/user/me
KAKAO_REDIRECT_URI=http://localhost:8080/api/auth/kakao/callback
KAKAO_REST_API_KEY=a1ae14c88aeebac2358901b98d331f9f
KAKAO_CLIENT_SECRET=u4n1XnHQnGN4W4VAAweuISlWvBxD6LVD